In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import pymysql
import pickle

In [61]:
con = pymysql.connect(host="127.0.0.1", db="riot", user="root", password="root1234", charset='utf8')
topdata = pd.read_sql("select * from topdata", con)
topdata

D:\kdigital\anaconda\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,tno,blue_top_champ,bt_kill,bt_gold,bt_damageDone,bt_damageTaken,bt_level,bt_minion,red_top_champ,rt_kill,rt_gold,rt_damageDone,rt_damageTaken,rt_level,rt_minion,result
0,1,Gangplank,1,5256,11067,12651,10,93,Fiora,3,4944,11610,15583,11,90,1
1,2,Zac,3,5987,9122,12814,11,114,Renekton,0,5342,8326,13051,10,125,0
2,3,Akali,1,5486,4786,5463,11,129,Fiora,0,4259,3132,6348,10,112,0
3,4,Aatrox,3,5633,6102,9976,10,91,Jax,1,4087,5130,11299,9,50,1
4,5,Sejuani,4,6880,7338,9899,11,119,Nocturne,1,5083,5966,8925,10,84,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29543,29545,Gwen,1,4361,7908,10619,9,90,Volibear,4,6525,9044,11379,11,122,1
29544,29546,Aatrox,2,5799,5159,7760,11,128,Shyvana,0,4241,4455,6399,11,102,0
29545,29547,Nasus,0,3848,3474,10524,9,83,Gwen,2,6460,8118,8260,11,124,1
29546,29548,Gnar,0,4008,5142,8867,10,87,Gangplank,5,7084,8896,9638,12,125,1
29547,29549,Cassiopeia,2,5302,8758,9955,10,103,Ashe,5,5787,7754,8628,11,77,1

In [62]:
# 데이터 타입 확인
topdata = topdata.drop(['tno'],axis=1)
topdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29548 entries, 0 to 29547
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   blue_top_champ  29548 non-null  object
 1   bt_kill         29548 non-null  int64
 2   bt_gold         29548 non-null  int64
 3   bt_damageDone   29548 non-null  int64
 4   bt_damageTaken  29548 non-null  int64
 5   bt_level        29548 non-null  int64
 6   bt_minion       29548 non-null  int64
 7   red_top_champ   29548 non-null  object
 8   rt_kill         29548 non-null  int64
 9   rt_gold         29548 non-null  int64
 10  rt_damageDone   29548 non-null  int64
 11  rt_damageTaken  29548 non-null  int64
 12  rt_level        29548 non-null  int64
 13  rt_minion       29548 non-null  int64
 14  result          29548 non-null  int64
dtypes: int64(13), object(2)
memory usage: 3.4+ MB

In [63]:
# champ code 불러오기
with open('champ.pickle','rb') as f:
    champCode = pickle.load(f)

champCode[['champion_key','en_name']]

    champion_key  en_name
0            266   Aatrox
1            103     Ahri
2             84    Akali
3            166   Akshan
4             12  Alistar
..           ...      ...
156          221     Zeri
157          115    Ziggs
158           26   Zilean
159          142      Zoe
160          143     Zyra

[161 rows x 2 columns]

In [64]:
# 챔피언명 라벨링
def changeCode(x):
    for code, name in champCode[['champion_key','en_name']].iterrows():
        if x == name[1]:
            return name[0]
red_top_champ_code = topdata['red_top_champ'].apply(changeCode)
blue_top_champ_code = topdata['blue_top_champ'].apply(changeCode)

chmapToCode = pd.concat([red_top_champ_code,blue_top_champ_code],axis=1)
chmapToCode

      red_top_champ blue_top_champ
0               114             41
1                58            154
2               114             84
3                24            266
4                56            113
...             ...            ...
29543           106            887
29544           102            266
29545           887             75
29546            41            150
29547            22             69

[29548 rows x 2 columns]

In [65]:
#라벨링된 데이터로변경
labelTop = pd.concat([chmapToCode,topdata.drop(['blue_top_champ','red_top_champ'], axis=1)],axis=1)

#결측치 제거
labelTop = labelTop.dropna(axis=0)

#타입변경
labelTop = labelTop.astype({'red_top_champ':'int64'})
labelTop = labelTop.astype({'blue_top_champ':'int64'})
labelTop.info()
labelTop

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29322 entries, 0 to 29547
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   red_top_champ   29322 non-null  int64
 1   blue_top_champ  29322 non-null  int64
 2   bt_kill         29322 non-null  int64
 3   bt_gold         29322 non-null  int64
 4   bt_damageDone   29322 non-null  int64
 5   bt_damageTaken  29322 non-null  int64
 6   bt_level        29322 non-null  int64
 7   bt_minion       29322 non-null  int64
 8   rt_kill         29322 non-null  int64
 9   rt_gold         29322 non-null  int64
 10  rt_damageDone   29322 non-null  int64
 11  rt_damageTaken  29322 non-null  int64
 12  rt_level        29322 non-null  int64
 13  rt_minion       29322 non-null  int64
 14  result          29322 non-null  int64
dtypes: int64(15)
memory usage: 3.6 MB

,red_top_champ,blue_top_champ,bt_kill,bt_gold,bt_damageDone,bt_damageTaken,bt_level,bt_minion,rt_kill,rt_gold,rt_damageDone,rt_damageTaken,rt_level,rt_minion,result
0,114,41,1,5256,11067,12651,10,93,3,4944,11610,15583,11,90,1
1,58,154,3,5987,9122,12814,11,114,0,5342,8326,13051,10,125,0
2,114,84,1,5486,4786,5463,11,129,0,4259,3132,6348,10,112,0
3,24,266,3,5633,6102,9976,10,91,1,4087,5130,11299,9,50,1
4,56,113,4,6880,7338,9899,11,119,1,5083,5966,8925,10,84,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29543,106,887,1,4361,7908,10619,9,90,4,6525,9044,11379,11,122,1
29544,102,266,2,5799,5159,7760,11,128,0,4241,4455,6399,11,102,0
29545,887,75,0,3848,3474,10524,9,83,2,6460,8118,8260,11,124,1
29546,41,150,0,4008,5142,8867,10,87,5,7084,8896,9638,12,125,1
29547,22,69,2,5302,8758,9955,10,103,5,5787,7754,8628,11,77,1

In [66]:
labelTop = labelTop.reset_index()
labelTop = labelTop.drop(['index'],axis=1)
labelTop

,red_top_champ,blue_top_champ,bt_kill,bt_gold,bt_damageDone,bt_damageTaken,bt_level,bt_minion,rt_kill,rt_gold,rt_damageDone,rt_damageTaken,rt_level,rt_minion,result
0,114,41,1,5256,11067,12651,10,93,3,4944,11610,15583,11,90,1
1,58,154,3,5987,9122,12814,11,114,0,5342,8326,13051,10,125,0
2,114,84,1,5486,4786,5463,11,129,0,4259,3132,6348,10,112,0
3,24,266,3,5633,6102,9976,10,91,1,4087,5130,11299,9,50,1
4,56,113,4,6880,7338,9899,11,119,1,5083,5966,8925,10,84,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29317,106,887,1,4361,7908,10619,9,90,4,6525,9044,11379,11,122,1
29318,102,266,2,5799,5159,7760,11,128,0,4241,4455,6399,11,102,0
29319,887,75,0,3848,3474,10524,9,83,2,6460,8118,8260,11,124,1
29320,41,150,0,4008,5142,8867,10,87,5,7084,8896,9638,12,125,1
29321,22,69,2,5302,8758,9955,10,103,5,5787,7754,8628,11,77,1

In [67]:
topdata = labelTop
# 비주류챔프 삭제
df_red = pd.DataFrame(topdata.red_top_champ.value_counts() < 15).reset_index()
df_blue = pd.DataFrame(topdata.blue_top_champ.value_counts() < 15).reset_index()
# df_red.loc[df_red['red_top_champ'] == True]['index'],df_blue.loc[df_blue['blue_top_champ'] == True]['index']
delList_red = list(df_red.loc[df_red['red_top_champ'] == True]['index'])
delList_blue = list(df_blue.loc[df_blue['blue_top_champ'] == True]['index'])
target_red = []
target_blue = []
for i, row in topdata.iterrows():
    if row['red_top_champ'] in delList_red:
        print(i, row['red_top_champ'])
        target_red.append(i)
for i, row in topdata.iterrows():
    if row['blue_top_champ'] in delList_blue:
        print(i, row['blue_top_champ'])
        target_blue.append(i)
    #if v in delList:
topdata = topdata.drop(index=target_red)   
topdata = topdata.drop(index=target_blue)
topdata

172 427
292 40
559 147
759 246
1037 29
1097 34
1629 203
1649 21
1736 203
2110 96
2291 96
2376 115
2447 37
2623 888
2711 888
2888 20
2889 20
2902 20
3243 115
3270 1
3271 20
3477 136
3674 20
3891 34
3898 1
4484 105
4520 115
4757 28
4906 28
5244 29
5483 201
5486 96
5517 1
5527 246
5566 96
5585 163
5599 29
5909 427
6067 498
6084 498
6268 105
6591 21
6711 888
6972 40
6997 96
7024 40
7103 497
7133 105
7363 163
7403 34
7429 203
7433 1
7509 96
7575 34
7701 63
7954 163
7994 203
8061 28
8098 28
8125 34
8476 498
8477 63
8753 34
8828 96
9259 136
9469 63
9502 63
9653 163
9680 201
9704 246
9856 888
9894 246
9949 163
9963 498
9964 20
9972 61
10185 161
10609 161
10957 203
11032 432
11069 143
11311 21
11545 161
11656 201
11672 29
11726 147
11729 497
11730 432
11833 61
11866 96
11950 63
12008 21
12125 21
12134 61
12135 203
12502 15
12526 147
12683 21
12705 267
12755 63
12961 115
13072 28
13500 163
13633 147
13723 20
13794 498
13877 20
13960 526
13989 163
14123 34
14165 61
14430 20
14490 34
14575 143
14578 21
14699 61
14807 20
14868 163
14998 432
15013 34
15124 40
15169 427
15204 201
15584 246
15706 28
15710 29
15920 163
15986 20
16257 147
16361 61
16386 96
16664 246
16766 105
17038 15
17064 203
17310 267
17626 267
17627 29
17713 34
17989 203
18201 61
18373 267
18763 21
18774 40
18792 498
18875 136
19104 105
19156 1
19447 497
19929 497
19947 61
19987 21
20417 427
20491 15
20499 34
21105 161
21375 61
21389 15
21417 61
21418 161
21424 267
21449 136
21531 497
21620 432
22098 105
22106 34
22183 63
22187 63
22308 246
22532 40
22578 432
22674 21
22679 526
22738 201
22740 888
23004 147
23104 115
23154 203
23159 498
23576 498
23651 1
23703 143
23704 143
23706 143
23707 143
23950 246
24050 63
24054 427
24157 15
24293 105
24438 498
24562 96
24629 427
24637 115
24815 246
24824 888
25074 20
25114 203
25291 163
25301 163
25544 20
25593 267
25603 147
25646 15
25647 1
26054 28
26056 888
26129 96
26212 96
26223 163
26564 267
26567 147
26595 203
26928 161
27145 105
27181 40
27338 526
27364 63
27426 20
27427 267
27580 163
27905 34
28075 161
28447 147
28476 427
28491 497
28526 163
28650 1
28709 246
28867 15
28935 498
29002 34
29248 21
27 254
59 40
220 254
266 888
452 12
481 96
526 498
589 20
1009 142
1048 427
1077 110
1194 142
1245 526
1531 44
1653 163
1716 526
1911 163
1926 246
2166 350
2191 421
2330 29
2340 360
2441 350
2487 421
2647 1
2673 40
2710 360
2738 254
2771 1
2792 142
2802 61
2880 40
3242 526
3267 267
3463 136
3626 40
3787 96
3860 254
4016 1
4083 350
4134 16
4187 427
4259 203
4416 96
4417 12
4431 40
4575 526
4609 12
4848 16
4859 44
4860 16
5027 161
5146 7
5247 20
5543 246
5558 12
5565 203
5566 142
5585 29
5592 136
5639 147
5810 498
5811 29
5812 115
5827 246
5857 254
5937 136
5969 1
5973 40
6080 163
6149 28
6378 110
6525 110
6581 7
6595 1
6641 163
6729 203
6730 203
6888 1
7139 16
7339 163
7371 147
7555 203
8090 142
8427 163
8431 360
8633 142
8653 888
8695 96
8725 888
8749 432
8924 246
8995 427
9094 40
9260 360
9332 40
9465 246
9488 7
9572 16
9573 16
9695 254
9789 142
9864 267
9940 432
9944 203
9964 350
9965 161
10011 12
10040 203
10050 1
10252 110
10410 110
10546 163
10774 161
11125 246
11189 1
11191 427
11326 7
11470 29
11608 115
11626 498
11657 497
11726 7
11732 888
11857 350
11865 421
11884 12
11908 497
11966 360
12007 96
12008 115
12015 203
12153 163
12343 12
12400 143
12501 421
12503 7
12534 421
12540 267
12554 421
12675 246
12686 427
12878 1
12943 498
12968 267
13153 16
13229 432
13466 44
13534 7
13842 163
13843 29
13921 115
13993 163
14095 421
14142 115
14152 267
14254 360
14575 360
14579 497
14595 427
14646 147
14998 44
14999 267
15025 1
15151 7
15177 360
15310 20
15444 16
16289 254
16395 16
16417 201
16490 421
16527 161
16549 20
16668 350
16912 7
17166 12
17230 143
17459 110
17585 40
18104 44
18110 498
18388 350
18712 61
18765 110
18786 526
18790 360
19137 246
19142 12
19213 497
19312 203
19343 497
19442 203
19517 246
19623 161
19655 44
20168 20
20170 110
20260 110
20263 110
20411 20
20420 147
20423 110
20447 29
20463 20
20464 147
20500 61
20602 110
20717 254
20870 201
20997 421
21417 29
21424 254
21425 254
21460 7
21525 16
21592 421
21617 1
21715 432
21716 12
21849 267
21861 7
22031 61
22078 254
22156 254
22178 350
22259 246
22283 246
22402 142
22538 203
22804 28
22871 360
23146 497
23159 96
23168 427
23261 44
23272 203
23275 29
23376 16
23564 360
23695 161
23697 421
23709 1
23804 142
24083 427
24200 20
24208 20
24747 203
24988 350
25084 203
25335 44
25368 61
25620 142
25651 7
25716 497
25847 16
25995 40
26048 28
26067 12
26074 360
26088 147
26126 20
26127 142
26223 360
26234 163
26368 201
26370 110
26390 267
26442 142
26565 888
26567 115
26603 7
26607 267
26832 16
27301 28
27356 7
27413 142
27442 16
27497 40
27522 44
27577 427
27620 161
28065 350
28078 246
28130 432
28140 163
28492 360
28507 28
28510 136
28564 143
28651 497
28875 136
28914 20
28928 246
29121 136
29143 246
29146 20

KeyError: '[5566, 5585, 9964, 11726, 12008, 14575, 14998, 21417, 21424, 23159, 26223, 26567] not found in axis'

In [68]:
topdata = topdata.reset_index()
topdata = topdata.drop(['index'],axis=1)
topdata

,red_top_champ,blue_top_champ,bt_kill,bt_gold,bt_damageDone,bt_damageTaken,bt_level,bt_minion,rt_kill,rt_gold,rt_damageDone,rt_damageTaken,rt_level,rt_minion,result
0,114,41,1,5256,11067,12651,10,93,3,4944,11610,15583,11,90,1
1,58,154,3,5987,9122,12814,11,114,0,5342,8326,13051,10,125,0
2,114,84,1,5486,4786,5463,11,129,0,4259,3132,6348,10,112,0
3,24,266,3,5633,6102,9976,10,91,1,4087,5130,11299,9,50,1
4,56,113,4,6880,7338,9899,11,119,1,5083,5966,8925,10,84,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29084,106,887,1,4361,7908,10619,9,90,4,6525,9044,11379,11,122,1
29085,102,266,2,5799,5159,7760,11,128,0,4241,4455,6399,11,102,0
29086,887,75,0,3848,3474,10524,9,83,2,6460,8118,8260,11,124,1
29087,41,150,0,4008,5142,8867,10,87,5,7084,8896,9638,12,125,1
29088,22,69,2,5302,8758,9955,10,103,5,5787,7754,8628,11,77,1

In [55]:
# 컬럼을 줄여 보았으나 정학도가 오히려 떨어짐
# topdata.loc[topdata['bt_kill'] > topdata['rt_kill'], 'kill'] = 0
# topdata.loc[topdata['bt_kill'] <= topdata['rt_kill'], 'kill'] = 1

# topdata.loc[topdata['bt_gold'] > topdata['rt_gold'], 'gold'] = 0
# topdata.loc[topdata['bt_gold'] <= topdata['rt_gold'], 'gold'] = 1

# topdata.loc[topdata['bt_damageDone'] > topdata['rt_damageDone'], 'damageDone'] = 0
# topdata.loc[topdata['bt_damageDone'] <= topdata['rt_damageDone'], 'damageDone'] = 1

# topdata.loc[topdata['bt_damageTaken'] > topdata['rt_damageTaken'], 'damageTaken'] = 0
# topdata.loc[topdata['bt_damageTaken'] <= topdata['rt_damageTaken'], 'damageTaken'] = 1

# topdata.loc[topdata['bt_level'] > topdata['rt_level'], 'level'] = 0
# topdata.loc[topdata['bt_level'] <= topdata['rt_level'], 'level'] = 1

# topdata.loc[topdata['bt_minion'] > topdata['rt_minion'], 'minion'] = 0
# topdata.loc[topdata['bt_minion'] <= topdata['rt_minion'], 'minion'] = 1

# topdata = topdata.astype('int')
# topdata = topdata.drop(['bt_kill','bt_gold','bt_damageDone','bt_damageTaken','bt_level','bt_minion','rt_kill','rt_gold','rt_damageDone','rt_damageTaken','rt_level','rt_minion'],axis=1)

# topdata = topdata[['red_top_champ', 'blue_top_champ', 'kill', 'gold','damageDone', 'damageTaken', 'level', 'minion', 'result']]
# topdata

,red_top_champ,blue_top_champ,result,kill,gold,damageDone,damageTaken,level,minion
0,114,41,1,1,0,1,1,1,0
1,58,154,0,0,0,0,1,0,1
2,114,84,0,0,0,0,1,0,0
3,24,266,1,0,0,0,1,0,0
4,56,113,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
29084,106,887,1,1,1,1,1,1,1
29085,102,266,0,0,0,0,0,1,0
29086,887,75,1,1,1,1,0,1,1
29087,41,150,1,1,1,1,1,1,1
29088,22,69,1,1,1,0,0,1,0

## 데이터분석

In [20]:
from sklearn.model_selection import train_test_split

In [379]:
# 데이터 분할
x_train, x_test, y_train, y_test=train_test_split(topdata.drop('result',axis=1), topdata['result'], test_size=0.21)
len(x_train), len(x_test), len(y_train), len(y_test)

(22980, 6109, 22980, 6109)

In [394]:
# 로지스틱 회귀분석으로 모델학습
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear', random_state=1, C=0.01, )
model.fit(x_train, y_train)
pred = model.predict(x_test)
pred

array([1, 0, 1, ..., 0, 1, 1], dtype=int64)

In [395]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
# 모델의 정확도,정밀도,재현율 
accuracy_score(pred,y_test),precision_score(pred,y_test),recall_score(pred,y_test)

(0.6460959240464887, 0.6349822179114128, 0.655321988655322)

In [125]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=500, max_depth=5)
rfc.fit(x_train, y_train)
pred = rfc.predict(x_test)
accuracy_score(pred,y_test)

0.6271139832256291

In [25]:
from xgboost import XGBClassifier
rfc = XGBClassifier(n_estimators=500, max_depth=5, learning_rate=0.01)
rfc.fit(x_train, y_train)
pred = rfc.predict(x_test)
accuracy_score(pred,y_test)

0.6261225417756053

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train2 = scaler.fit_transform(x_train)
x_test2 = scaler.fit_transform(x_test)

rfc = XGBClassifier(n_estimators=500, max_depth=5, learning_rate=0.01)
rfc.fit(x_train2, y_train)
pred = rfc.predict(x_test2)
accuracy_score(pred,y_test)

0.6235080140957144

In [27]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=500, max_depth=6)
rfc.fit(x_train2, y_train)
pred = rfc.predict(x_test2)
accuracy_score(pred,y_test)

0.6279413436398772